/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .submitButton{
    margin: 10px; 
  }
  .display{
    background-color: black;
  }
  .header {
      display: table-cell;
      vertical-align: middle;
      color: white;
    }